@import url(https://fonts.googleapis.com/css2?family=Montserrat);

:root {
  --clr-primary: rgb(33, 110, 62);
  --clr-primary-light: rgb(255, 255, 255);
  --clr-primary-dark: rgb(0, 0, 0);
  --clr-accent: rgb(168, 143, 0);
  --clr-accent-light: rgb(175, 175, 175);

  --ff-main: "Montserrat";
  --ff-accent: "Asmelina Harley";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-main);
  font-weight: 400;
  background-image: url("../assets/images/kallie_pic4.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.about-body,
.work-body,
.contact-body {
  background-image: none;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(3.6rem, 4vw, 4.8rem);
}

h2 {
  font-size: clamp(3rem, 3vw, 3.6rem);
}

h3 {
  font-size: clamp(2.1rem, 2.3vw, 3rem);
}

h4 {
  font-size: clamp(1.6rem, 1.75vw, 2.1rem);
}

h5,
h6,
p,
button,
label,
input,
ul,
li,
a {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.6;
}

header {
  text-align: center;
  /* display: flex; */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.btn {
  width: 10rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-accent-light);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 3px 3px 3px black;
}

.btn:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  border: 1px solid var(--clr-primary);
  color: var(--clr-accent-light);
  background-color: var(--clr-primary);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 8px 8px 8px black;
}

.page {
  min-height: 100vh;
  padding: 4rem;
}

.circles-page {
  /* text-align: center; */
}

.page-title-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 8rem 0 4rem 0;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.others-title-cont {
  display: flex;
  justify-content: center;
  margin: 4rem 0 0 0;
  text-align: center;
}

.page-title-cont h1 {
  font-family: "Asmelina Harley";
  color: var(--clr-primary);
  text-shadow: 3px 3px 10px black;
}

.page-sub-title-cont {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.page-sub-title-cont p {
  font-size: clamp(1.8rem, 1.75vw, 2.8rem);
}

.icon {
  cursor: pointer;
}

.nav-menu-cont {
  /* background-color: green; */
  /* width: 100%; */
  /* min-height: 100%;
  max-height: 100%; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* text-align: center; */
}

.nav-cont {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-list {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-list a {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background: var(--clr-primary);
  backdrop-filter: blur(10px);
}

.request-link:hover {
  background: var(--clr-primary) !important;
  backdrop-filter: blur(10px);
}

.slide-down {
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  /* height: calc(100vh - 8rem); */
  height: 100%;
}

.slide-up {
  transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  height: 0;
}

.up-arrow-icon {
  display: none;
}

.up-arrow-icon-cont {
  min-height: 4rem;
  margin: 2rem;
}

/* .ham-menu-icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  height: 4rem;
  margin: 3rem;
} */

.ham-menu-icon-cont {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  min-height: 3rem;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* text-align: right; */
}

.explore-btn-cont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hamburger-icon {
  width: 3rem;
  height: auto;
  /* margin: 3rem; */
}

.icon:hover {
  transform: scale(1.2, 1.2);
}

.social-link-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.social-link {
  font-size: 4rem;
  margin: 0 1rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--clr-primary);
  text-shadow: 3px 3px 3px black;
}

.social-link:hover {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scale(1.2, 1.2);
  text-shadow: 5px 5px 5px black;
}

.link-pinterest {
  margin-right: 0;
}

.link-facebook {
  margin-left: 0;
}

@media screen and (min-width: 360px) {
  .page-title-cont {
  }

  .appointment-btn-cont {
    display: none;
  }

  .page-title-cont h1 {
    /* margin: 4rem 0 4rem 25%; */
  }
}

/* Animated Circles CSS */

.circles {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(96, 183, 199, 0.1);
  animation: animate 25s linear infinite;
  bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 10s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 40s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(11) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 50s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(12) {
  left: 95%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 60s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(13) {
  left: 15%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

.circles li:nth-child(14) {
  left: 90%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
  background: rgba(33, 110, 62, 0.3);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-180vh) rotate(720deg);
    opacity: 0;
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide-active {
  margin: 0;
} */

.products-title-div,
.services-title-div {
  text-align: center;
}

.products-list {
  display: none;
}

.products-list, .services-list {
  background-color: var(--clr-accent-light);
  border-radius: 0.6rem;
  padding: 1rem;
}



.hide {
  display: none;
}

.pricing-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  background-color: var(--clr-accent-light);
  border-radius: 0.6rem;
}

.price-p {
  font-size: clamp(2.1rem, 2.3vw, 3rem);
  color: var(--clr-primary);
  font-weight: 900;
}

